.xxx {
    margin-top:30px;
}

#main {
    height:300px;
}
#pp {
    height: 373px;
}
.col-md-7 img {
    height:70px;
    width: 70px;
    border-radius:40px;
    border: 3px solid #66AFEC;
}
.col-md-5 button {
    margin: 10px 0px;
}