ul {
    list-style-type: none!important;
}
#title_avatar {
    height:40px;
    width:40px;
}
.navbar-brand {
    margin-left: 150px;
}
#title_right {
    margin-right: 150px;
}
.fixed-top {
    box-shadow: 10px 5px 5px #666;
}
