#home {
    background: url('../img/ch.jpg');
    background-size: cover;
}
.lvjing {
    background-color: rgba(66,66,78,0.8);
}
.title_text {
    text-align: center;
    margin-top: 100px;
    color: #66afe9;
    font-weight: bold;
}
.title_img {
    margin:0 auto;
    padding-top:30px;
    width: 800px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
section#driver {
    padding: 80px 0px;
}
div.col-md-4 img {
    margin:0 auto;
    width: 150px;
    height: 150px;
}
div.col-md-4 a {
    text-decoration-line: none;
    color: #333333;
}
div.col-md-4:hover {
    background-color: #f8f8f8;
    box-shadow: 2px 3px 4px #666;
}
section#html5 {
    background-color: #f8f8f8;
    padding:80px 0px;
}
section#bootstarp {
    padding:80px 0px;
}
section#html5 span,section#bootstarp span{
    margin-right: 20px;
    background: rgba(42, 234, 187, 0.89);
    padding: 10px;
    border-radius: 30px;
    font-size: 25px;
}
section#html5 h3,section#bootstarp h3 {
    font-weight: bold;
}
section#html5 p,section#bootstarp p {
    line-height:32px;
    font-weight:bold;
}
section#html5 img,section#bootstarp img {
    width: 600px;
    height:300px;
}
section#cursor {
    text-align: center;
    padding: 80px 0px;
    background-color: #f8f8f8;
}
section#cursor h3 {
    font-weight:bold;
}
section#cursor .img {
    background: #f1efef;
}
section#cursor .col-md-3 {
    margin: 30px 0px;
}
section#cursor a {
    margin: 20px 0px;
    background: none;
    color: black;
    border-color: #66AFE9;
    border-radius: 0px;
    padding: 7px 30px;
    transition-duration: 0.3s;
}
section#cursor a:hover {
    background: #66AFE9;
    border-color: #66AFE9;
}
section#app {
    padding: 80px 0px;
}
section#app h2 {
    font-weight: bold;
}
section#app p {
    font-weight: bold;
}
section#app button {
    background: none;
    color: black;
    border-color: #66AFE9;
    background: #66AFE9;
    margin: 60px 20px;
}
section#app button:hover {
    background: #0b6ebd;
    transition:all 0.3s;
}
section#contact {
    background: url("../img/ttt.png")no-repeat;
    background-size: cover;
    margin:5px 0px;
}
section#contact .container {
    padding:100px 0px;
}
#contact h2{
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
#contact address {
    line-height: 40px;
    color: white;
}
#contact input,#contact textarea {
    border-radius: 0px;
    margin:15px 0px;
}
button.btn.btn-primary {
    background: #66AFE9;
    margin-top: 20px;
    width: 150px;
    transition: all 0.3s;
}
button.btn.btn-primary:hover {
    background: #0b6ebd;
}
footer {
    text-align: center;
    margin-top: 20px;
}