{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% block title %}{{ blog.title }}{% endblock %}
{% block blog_active %}active{% endblock %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="blog">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog_title border-bottom mt-5">
                                    <h3 class="text-center font-weight-bold">{{ blog.title }}</h3>
                                    <p class="blog_title_bottom text-center font-weight-light">
                                        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{ blog.author.get_nickname_or_username }}&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                        <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
                                            {{ blog.blog_type.type_name }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="content" class="row">
                            <div class="col-md-8 offset-md-1 mt-2">
                                <p class="blog_content">
                                    {{ blog.content|safe }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog_bottom border-top p-3">
                                    <div class="like float-left" onclick="likeChange(this,'{% get_content_type blog %}',{{ blog.pk }})">
                                        <button class="like_button {% get_like_status blog %}sm">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                            <span class="liked_num">{% get_likes_count blog %}</span>
                                        </button>
                                    </div>
                                    <p class="float-right">
                                        {{ blog.created_time }}&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;({{ blog.get_read_count }})&nbsp;&nbsp;
                                        <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;(<span id="comment_count">{% get_comment_count blog %}</span>)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3 mb-3">
                <div class="pager float-right">
                    {% if next_page %}
                        <a class="btn btn-primary" href="{% url 'blog_detail' next_page.pk %}">下一篇： {{ next_page.title }}
                            <span aria-hidden="true"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="javascript:void(0)">下一篇：没有了
                            <span aria-hidden="true"></span>
                        </a>
                    {% endif %}
                    {% if previous_page %}
                        <a class="btn btn-primary" href="{% url 'blog_detail' previous_page.pk %}">
                            <span aria-hidden="true">上一篇：</span> {{ previous_page.title }}
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="javascript:void(0)">
                            <span aria-hidden="true"> 上一篇：没有了</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;评论区</div>
                    <div class="card-body">
                        <div class="container">
                            {% if user.is_authenticated %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="reply_comment_container" class="alert alert-info" style="display: none;">
                                            <div class="">
                                                 回复：<span id="reply_comment"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <form id="comment_form" action="{% url 'update_comment' %}" method="POST" autocomplete="off">
                                        <div class="col-md-12">
                                            {% csrf_token %}
                                            {% get_comment_form blog as comment_form %}
                                            {{ comment_form.content_type }}
                                            {{ comment_form.object_id }}
                                            {{ comment_form.reply_comment_id }}
                                            {{ comment_form.text }}
                                        </div>
                                        <div class="mt-3">
                                            <span id="comment_error" class="text-danger float-left"></span>
                                            <span id="comment_success" class="text-success float-left"></span>
                                            <input class="btn btn-primary float-right" type="submit" value="提交评论">
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    <a href="" data-toggle="modal" data-target="#login_modal">登录</a>
                                    后才能评论哦！没有账号？
                                    <a href="{% url 'user:register' %}?from={{ request.get_full_path }}">注册</a>
                                </div>
                            {% endif %}
                            <div id="comment_list" class="mt-1">
                                {% get_comment_list blog as comment_list %}
                                {% for comment in comment_list %}
                                        <div class="comment rounded mt-3 p-2 font-weight-light">
                                            <div class="like float-right" onclick="likeChange(this,'{% get_content_type comment %}',{{ comment.pk }})">
                                                <button class="like_button {% get_like_status comment %}sm">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                    <span class="liked_num">{% get_likes_count comment %}</span>
                                                </button>
                                            </div>
                                            <span>{{ comment.user.get_nickname_or_username }} 评论于 {{ comment.comment_time|date:'Y-m-d H:i' }}</span>
                                            <span><a class="text-info" href="javascript:reply({{ comment.pk }});">回复</a></span>
                                            <div id="comment_{{ comment.pk }}">
                                                {{ comment.text|safe }}
                                            </div>
                                            <div id="root_{{ comment.pk }}">
                                                {% for reply in comment.root_comment.all %}
                                                    <div  class="huifu rounded ml-5 mb-1 p-2">
                                                        <div class="like float-right" onclick="likeChange(this,'{% get_content_type reply %}',{{ reply.pk }})">
                                                            <button class="like_button {% get_like_status reply %}sm">
                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                <span class="liked_num">{% get_likes_count reply %}</span>
                                                            </button>
                                                        </div>
                                                        <span>{{ reply.user.get_nickname_or_username }} 于 {{ reply.comment_time|date:'Y-m-d H:i' }}</span>
                                                        <span>回复：</span>
                                                        <span>{{ reply.reply_to.get_nickname_or_username }}</span>
                                                        <span>
                                                            <a class="text-info" href="javascript:reply({{ reply.pk }});">回复</a>
                                                        </span>
                                                        <div id="comment_{{ reply.pk }}">
                                                            {{ reply.text|safe }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                {% empty %}
                                    <li id="no_comment" class="list-group-item">暂无评论</li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_extends %}
    <script>
        // 点击回复进行回复初始化
        function reply(reply_comment_id){
            {% if user.is_authenticated %}
                $('#reply_comment_id').val(reply_comment_id);
                var html = $('#comment_'+reply_comment_id).text();
                $('#reply_comment').text(html);
                $('#reply_comment_container').show();
                $('html').animate({scrollTop:$('#comment_form').offset().top - 130},300,function () {
                    CKEDITOR.instances['id_text'].focus();
                })
            {% else %}
                $('#login_modal').modal();
            {% endif %}
        };
        // 点赞操作
        function likeChange(obj,content_type,object_id){
            var is_like = obj.getElementsByClassName('btn btn-danger btn-sm').length == 0;
            $.ajax({
                url:'{% url 'like_change' %}',
                type:'GET',
                data:{
                    'content_type':content_type,
                    'object_id':object_id,
                    'is_like':is_like
                },
                cache:false,
                success:function (data) {
                    console.log(data);
                    if (data['status'] == 'SUCCESS'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('like_button'));
                        if (is_like){
                            element.addClass('btn btn-danger btn-sm');
                        }else{
                            element.removeClass('btn btn-danger btn-sm');
                            element.addClass('btn btn-default btn-sm');
                        }
                        var liked_num = $(obj.getElementsByClassName('liked_num'));
                        liked_num.text(data['liked_num'])
                    }else{
                        if (data['code'] == 400){
                            $('#login_modal').modal()
                        }else{
                            alert(data['message']);
                        }
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            })
        };
        // 评论回复表单提交
        $('#comment_form').submit(function () {
            // 清空提示信息
            $('#comment_error').text('');
            $('#comment_success').text('');
            if (CKEDITOR.instances['id_text'].document.getBody().getText().trim() == ''){
                $('#comment_error').text('评论内容不能为空。(这是JS判断)');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            //使用AJAX提交
            $.ajax({
                url:'{% url 'update_comment' %}',
                type:'POST',
                data:$(this).serialize(),
                cache:false,
                success:function (data) {
                    if (data['status'] == 'SUCCESS') {
                        $('#reply_comment_container').hide();  // 隐藏回复提示
                        $('#reply_comment_id').val('0');  // 初始化评论id
                        // 提示评论成功
                        $('#comment_success').text(data['message'])
                        window.location.reload()
                    }
                    else{
                        //显示错误信息
                        $('#comment_error').text(data['message'])
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            });
            return false;
        });

    </script>
{% endblock %}