{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ blog.title }}{% endblock %}
{% block blog_active %}active{% endblock %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="blog">
                    <div class="blog_title">
                        <h3>{{ blog.title }}</h3>
                        <p class="blog_title_bottom">
                            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                            <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type.type_name }}</a>&nbsp;&nbsp;&nbsp;作者：{{ blog.author }}
                        </p>
                    </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="blog_content">
                            {{ blog.content|safe }}
                        </p>
                    </div>
                </div>
                <div class="blog_bottom">
                    <p class="pull-right">
                        发布日期：{{ blog.created_time }}&nbsp;&nbsp;&nbsp;
                        评论()&nbsp;&nbsp;阅读({{ blog.get_read_count }})
                    </p>
                </div>
            </div>
              </div>
            </div>
        </div>
        <div class="blog_more">
            <nav aria-label="...">
                <ul class="pager">
                    {% if next_page %}
                        <li class="pull-right" style="margin-left: 20px;">
                            <a href="{% url 'blog_detail' next_page.pk %}">下一篇： {{ next_page.title }}
                                <span aria-hidden="true"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="pull-right"><a href="#">没有了 <span aria-hidden="true"></span></a></li>
                    {% endif %}
                    {% if previous_page %}
                      <li class="pull-right">
                          <a href="{% url 'blog_detail' previous_page.pk %}">
                              <span aria-hidden="true">上一篇：</span> {{ previous_page.title }}
                          </a>
                      </li>
                    {% else %}
                      <li class="pull-right"><a href="#"><span aria-hidden="true"></span> 没有了</a></li>
                    {% endif %}
              </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">评论区</div>
              <div class="panel-body">
                    {% if user.is_authenticated %}
                        <label>{{ user.username }}欢迎评论!</label>
                        <form action="{% url 'update_comment' %}" method="POST">
                            {% csrf_token %}
                                {% for foo in comment_form %}
                                    {{ foo }}
                                {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input class="btn btn-primary pull-right" type="submit" value="提交评论">
                        </form>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="alert-link" style="color:blue;">登录 </a>后才能评论哦！
                        </div>
                    {% endif %}
                <ul class="list-group" style="margin-top: 50px;">
                    {% for comment in comment_list %}
                        <li class="list-group-item">
                            {{ comment.user }} 评论于 {{ comment.comment_time|date:'Y-m-d H:i' }}<br/>
                            {{ comment.text|safe }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">暂无评论</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_extends %}
    <script>
        $(function () {
            $('form').submit(function () {
                // 清空提示信息
                $('#comment_error').text('');
                if (CKEDITOR.instances['id_text'].document.getBody().getText().trim() == ''){
                    $('#comment_error').text('评论内容不能为空。(这是JS判断)');
                    return false;
                }
                // 更新数据到textarea
                CKEDITOR.instances['id_text'].updateElement();

                //使用AJAX提交
                $.ajax({
                    url:'{% url 'update_comment' %}',
                    type:'POST',
                    data:$(this).serialize(),
                    cache:false,
                    success:function (data) {
                        console.log(data);
                        if (data['status'] == 'SUCCESS') {
                            var comment_html = '<li class="list-group-item">' + data['username'] + ' 评论于 ' +
                                    data['comment_time'] + '<br> ' + data['text'] + '<div></div></li>';
                            $('ul.list-group').prepend(comment_html);
                            // 评论成功后清空编辑框的内容
                            CKEDITOR.instances['id_text'].setData('');
                            // 提示评论成功
                            $('#comment_error').text(data['message'])
                        }
                        else{
                            //显示错误信息
                            $('#comment_error').text(data['message'])
                        }
                    },
                    error:function (xhr) {
                        console.log(xhr)
                    }
                });
                return false;
            })
        })
    </script>
{% endblock %}