{% extends 'form.html' %}

{% block other_buttons %}
    <button id="send_code" type="button" class="btn btn-primary">发送验证码</button>
{% endblock %}

{% block script_extends %}
    <script>
        $('#send_code').click(function () {
            var email = $('#id_email').val();
            $("#tip").text('');
            $("#success").text('');
            $("p.text-danger").text('');
            $.ajax({
                url:'{% url 'user:send_verification_code' %}',
                type:'GET',
                data:{'email':email},
                cache:false,
                success:function (data) {
                    if (data['code'] == '402'){
                        $("#tip").text(data['message'])
                    }
                    if (data['status'] == 'SUCCESS'){
                        $("#success").text(data['message'])
                    } else{
                        console.log(data);
                        $("#tip").text(data['message'])
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            })
            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled',true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if (time <= 0) {
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled',false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time + 's');
            },1000);
        })
    </script>
{% endblock %}