{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ page_title }}{% endblock %}
{% block login_active %}active{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if not user.is_authenticated %}
                    <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ form_title }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="#" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if not field.is_hidden %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% endif %}
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span id="tip" class="text-danger">{{ form.non_field_errors }}</span>
                            <span id="success" class="text-success"></span>
                            <div class="clearfix"></div>
                            <div class="pull-left">
                                <button id="send_code" type="button" class="btn btn-primary">发送验证码</button>
                            </div>
                            <div class="pull-right">
                                <input type="submit" value="{{ submit_text }}" class="btn btn-primary">
                                <a class="btn btn-primary" onclick="window.location.href='{{ return_back }}'">返回</a>
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                    <span>您已登录，<span id="time"></span>秒后跳转到首页......</span>
                    <script>
                        var timeout = 5;
                        function showError() {
                            document.getElementById("time").innerHTML = timeout;
                            timeout--;
                            if (timeout == 0) {
                                window.location.href = "/";
                            } else {
                                setTimeout("showError()", 1000);
                            }
                        }
                        showError();
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script>
        $('#send_code').click(function () {
            var username_or_email = $('#id_username_or_email').val();
            $("#tip").text('');
            $("#success").text('');
            $("p.text-danger").text('');
            $.ajax({
                url:'{% url 'user:send_verification_code_forget' %}',
                type:'GET',
                data:{'username_or_email':username_or_email},
                cache:false,
                success:function (data) {
                    if (data['code'] == '402'){
                        $("#tip").text(data['message'])
                    }
                    if (data['status'] == 'SUCCESS'){
                        $("#success").text(data['message'])
                    }else{
                        console.log(data);
                        $("#tip").text(data['message'])
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            });
            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled',true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if (time <= 0) {
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled',false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time + 's');
            },1000);
        })
        $('form').submit(function () {
            var code = $('#id_verification_code').val();
            if (code == ''){
                $('#tip').text('验证码不能为空(js) ')
                return false;
            }
        })
    </script>
{% endblock %}