* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 70px!important;
}
ul {
    list-style-type: none!important;
}
ul.navbar-right {
    margin-right: 0;
}
div.day-hot {
    padding-left: 0px;
}
div.month-hot {
    padding-right: 0px;
}