{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}人间五十年,如梦亦如幻{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'jQuery v3.3.1.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    {% block head_extends %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">XHE的个人博客</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="{% block home_active %}{% endblock %}">
                                <a href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="{% block blog_active %}{% endblock %}">
                                <a href="{% url 'blog_list' %}">博客</a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        欢迎您 {{ user.get_nickname_or_username }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'user:user_info' %}">个人资料</a></li>
                                        {% if user.is_staff %}
                                            <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                                        {% endif %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'user:logout' %}?from={{ request.get_full_path }}">退出</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="{% block login_active %}{% endblock %}">
                                    <a href="{% url 'user:login' %}?from={{ request.get_full_path }}">登录</a>
                                </li>
                                <li class="{% block register_active %}{% endblock %}">
                                    <a href="{% url 'user:register' %}?from={{ request.get_full_path }}">注册</a>
                                </li>
                            {% endif %}
                        </ul>
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                            <input type="text" class="form-control" placeholder="站内博客">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <!-- Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="login_modal_form" action="" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">登录</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in login_modal_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        <span id="login_modal_tip" class="text-danger">{{ login_form.non_field_errors }}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">登录</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            if ($('body').hasClass('modal-open')){
                setTimeout(
                    function () {
                        $('#id_username').focus();
                    },1000
                )
            }
        })

        //模态框表单提交
        $('#login_modal_form').submit(function () {
            //event.preventDefault();另一种阻止提交的方法，上面function的括号内也要加event
            $('#login_modal_tip').text('');
            $.ajax({
                url:"{% url 'user:login_for_modal' %}",
                type:'POST',
                cache:false,
                data:$(this).serialize(),
                success:function (data) {
                    console.log(data)
                    if (data['status'] == 'SUCCESS'){
                        window.location.reload();
                    }else{
                        $('#login_modal_tip').text('用户名或密码不正确');
                    }
                }
            });
            return false;
        });
    </script>
    {% block script_extends %}

    {% endblock %}
</body>
</html>