{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}人间五十年,如梦亦如幻{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'jQuery v1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    {% block head_extends %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header" style="border-bottom:0px">
              <h1>My first blog ! <small></small></h1>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" class="{% block home_active %}{% endblock %}">
                    <a href="{% url 'index' %}">首页</a>
                </li>
                <li role="presentation" class="{% block blog_active %}{% endblock %}">
                    <a href="{% url 'blog_list' %}">博客</a>
                </li>
                <li role="presentation" class="{% block beautiful_picture_active %}{% endblock %}">
                    <a href="#">美图</a>
                </li>
                {% if user.is_authenticated %}
                    <li role="presentation" class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                          欢迎您 {{ user.username }}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="">
                                <a href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="{% url 'admin:index' %}">后台管理</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li role="presentation" class="{% block register_active %}{% endblock %} pull-right">
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    </li>
                    <li role="presentation" class="{% block login_active %}{% endblock %} pull-right">
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                    </li>
                {% endif %}

            </ul>
        </div>

    </div>
    {% block content %}{% endblock %}
    {% block script_extends %}{% endblock %}
</body>
</html>