{% extends 'base.html' %}
{% load staticfiles %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'demo1.css' %}">
{% endblock %}
{% block demo1_active %}active{% endblock %}
{% block content %}
    <section id="home">
        <div class="lvjing">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 title_text">
                        <h1>人间五十年，如梦亦如幻</h1>
                        <img class="img-responsive title_img" src="{% static 'img/hua.jpg' %}" alt="timg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="driver">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="">
                        <img class="img-responsive" src="{% static 'img/google.jpg' %}" alt="google">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Google Chrome的设计超级简洁，
                        使用起来更加方便。谷歌浏览器最大的亮点就是其多进程架构，保护其不会因恶意网页和应用软件而崩溃。</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img class="img-responsive" src="{% static 'img/fox.jpg' %}" alt="firefox">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;采用了实力强悍的新型引擎，更具性能优势。
                        页面载入更好、更快，占用内存更少。出色的设计，灵动的功能，让上网体验更智能。</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img class="img-responsive" src="{% static 'img/safari.jpg' %}" alt="safari">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Safari 浏览器。它不仅速度更快，而且能效出色，
                        从而令网站的响应更灵敏，笔记本电脑电池单次充电的运行时间也更长。</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="html5">
        <div class="container">
            <div class="col-md-6">
                <h3>HTML5</h3>
                <p><span class="glyphicon glyphicon-sd-video"></span>万维网的核心语言、标准通用标记语
                    言下的一个应用超文本标记语言（HTML）的第五次重大修改。
                </p>
                <p><span class="glyphicon glyphicon-sd-video"></span>HTML5草案的前身名为 Web Applications
                    1.0，于2004年被WHATWG提出，于2007年被W3C接纳，并成立了新的 HTML 工作团队。</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'img/html5.jpg' %}" alt="html5">
            </div>
        </div>
    </section>
    <section id="bootstarp">
        <div class="container">
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'img/bootstarp.jpg' %}" alt="html5">
            </div>
            <div class="col-md-6">
                <h3>Bootstrap</h3>
                <p><span class="glyphicon glyphicon-sd-video"></span>Bootstrap是美国Twitter公司的设计师
                    Mark Otto和Jacob Thornton合作基于HTML、CSS、JavaScript 开发的简洁、直观、强悍的前端开发框架，使得 Web 开发更加快捷。
                </p>
                <p><span class="glyphicon glyphicon-sd-video"></span>Bootstrap提供了优雅的HTML和CSS规范，
                    它即是由动态CSS语言Less写成。Bootstrap一经推出后颇受欢迎，一直是GitHub上的热门开源项目，包括NASA的MSNBC（微软全国广播公司）的Breaking News都使用了该项目。</p>
            </div>
        </div>
    </section>
    <section id="cursor">
        <div class="container">
            <div class="row">
                <h3>最新教程</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img">
                        <img class="img-responsive" src="{% static 'img/bootstrap4.jpg' %}" alt="boot4">
                    <a class="btn btn-primary" href="">进入教程</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>下载我的博客客户端</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;是最流行的关系型数据库管理系统，在WEB应用方面MySQL是最好的关系数据库管理系统应用软件之一。
                    </p>
                    <button class="btn btn-primary">下载安卓客户端</button>
                    <button class="btn btn-primary">下载苹果客户端</button>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="{% static 'img/mysql.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="lvjing">
            <div class="container">
                <div class="col-md-6">
                    <h2>
                        <span class="glyphicon glyphicon-send"></span>
                        &nbsp;欢迎联系我吼吼
                    </h2>
                    <address>
                        <p>
                        人间五十年，如梦亦如幻!
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-home"></span>
                            &nbsp;地址：银河太阳系地球亚洲
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-phone-alt"></span>
                            &nbsp;电话：10101010101010
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-envelope"></span>
                            &nbsp;邮箱：6666@miku.com
                        </p>
                    </address>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="邮箱">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="啦啦">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="heihei">
                        </div>
                        <div class="col-md-12">
                            <textarea name="text" id="" cols="80" rows="8" placeholder="留言"></textarea>
                            <button class="btn btn-primary">
                            提交信息
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}