{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}这里是首页哦！{% endblock %}
{% block home_active %}active{% endblock %}
{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% for blog in month_hot_blogs %}
                                {% if forloop.first %}
                                    <div class="item active">
                                {% else %}
                                    <div class="item">
                                {% endif %}
                                    <img class="img-responsive" src="{% static 'img/code.jpg' %}" alt="...">
                                    <div class="carousel-caption">
                                        <h4>{{ blog.title }}</h4>
                                        <p>{{ blog.content| striptags |truncatechars:70 }}</p>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="item active">
                                    <img src="{% static 'img/timg.jpg' %}" alt="...">
                                    <div class="carousel-caption">
                                        <h4>雾霾</h4>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-group">
                      <li class="list-group-item active">
                          今日热门博客
                          <span class="glyphicon glyphicon-fire pull-right " aria-hidden="true" style="color:#ac2925;"></span>
                      </li>
                      {% for blog in today_hot_blogs %}
                          <a href="{% url 'blog_detail' blog.pk %}" class="list-group-item">{{ blog.title }}
                              <span class="badge">阅读{{ blog.get_one_day_read_count }}</span>
                          </a>
                      {% empty %}
                          <li class="list-group-item">暂无热门博客</li>
                      {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="list-group">
                      <li class="list-group-item active">
                          本周热门博客
                          <span class="glyphicon glyphicon-fire pull-right " aria-hidden="true" style="color:#ac2925;"></span>
                      </li>
                      {% for blog in week_hot_blogs %}
                          <a href="{% url 'blog_detail' blog.pk %}" class="list-group-item">{{ blog.title }}
                              <span class="badge">阅读{{ blog.week_hot_sum }}</span>
                          </a>
                      {% empty %}
                          <li class="list-group-item">暂无热门博客</li>
                      {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 month-hot">
                    <div class="list-group">
                      <li class="list-group-item active">
                          本月热门博客
                          <span class="glyphicon glyphicon-fire pull-right " aria-hidden="true" style="color:#ac2925;"></span>
                      </li>
                      {% for blog in month_hot_blogs %}
                          <a href="{% url 'blog_detail' blog.pk %}" class="list-group-item">{{ blog.title }}
                              <span class="badge">阅读{{ blog.month_hot_sum }}</span>
                          </a>
                      {% empty %}
                          <li class="list-group-item">暂无热门博客</li>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}