{% extends 'xnhoutai/base.html' %}
{% load staticfiles %}

{% block head_extends %}
    <link rel="stylesheet" href="{% static 'xnhoutai/context_manage.css' %}">
{% endblock %}
{% block content_manage_active %}active{% endblock %}

{% block content %}
    <div class="container xxx">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a class="list-group-item active" href="{% url 'xnhoutai:context_manage' %}">管理文章</a>
                    <a class="list-group-item" href="{% url 'xnhoutai:add_content' %}">添加文章</a>
                </div>
            </div>
            <div class="col-md-10">
                <h4>内容管理</h4>
                <hr>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="{% url 'xnhoutai:context_manage' %}">管理文章</a></li>
                    <li role="presentation" class=""><a href="{% url 'xnhoutai:add_content' %}">添加文章</a></li>
                </ul>
                <table class="table">
                    <thead>
                        <tr>
                            <th>文章标题</th>
                            <th>作者</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>如何正确使用python日志系统</th>
                            <td>张三</td>
                            <td>2018/08/27</td>
                            <td>
                                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">锁定</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}