{% extends 'xnhoutai/base.html' %}
{% load staticfiles %}

{% block head_extends %}
    <link rel="stylesheet" href="{% static 'xnhoutai/home.css' %}">
    <script src="{% static 'js/echarts.js' %}"></script>
{% endblock %}
{% block home_active %}
    active
{% endblock %}
{% block content %}
    <div class="container xxx">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">网站数据统计</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <th>统计项目</th>
                                <th>今日</th>
                                <th>昨日</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>注册会员</th>
                                    <td>200</td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <th>登录会员</th>
                                    <td>200</td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <th>今日发帖</th>
                                    <td>200</td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <th>转载次数</th>
                                    <td>200</td>
                                    <td>400</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">网站热帖</div>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">今日访客统计</div>
                    <div class="panel-body">
                        <div id="main">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="pp" class="panel panel-default">
                    <div class="panel-heading">服务器状态</div>
                    <div class="panel-body">
                        <p>内存使用率40%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                        <p>数据库使用率20%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                        <p>磁盘使用率60%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                        <p>cpu使用率80%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">团队留言板</div>
                    <div class="panel-body">
                        <div class="col-md-7">
                            <div class="media well">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{% static 'img/yui.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">测试A</h4>
                                    <p>后台有个bug你改一下</p>
                                </div>
                            </div>
                            <div class="media well">
                                <div class="media-body">
                                    <div class="pull-right">
                                        <h4 class="media-heading">开发A</h4>
                                        <p>等我有空了再改</p>
                                    </div>
                                </div>
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{% static 'img/timg.jpg' %}" alt="...">
                                    </a>
                                </div>

                            </div>
                            <div class="media well">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{% static 'img/yui.jpg' %}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">测试A</h4>
                                    <p>是时候送出bug大礼包了~</p>
                                </div>
                            </div>
                            <div class="media well">
                                <div class="media-body">
                                    <div class="pull-right">
                                        <h4 class="media-heading">开发A</h4>
                                        <p>尼玛！</p>
                                    </div>
                                </div>
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{% static 'img/timg.jpg' %}" alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-12">
                                <form action="">
                                    <label for="text">请输入留言</label><br>
                                    <textarea class="form-control" name="comment" id="text" cols="60" rows="3"></textarea>
                                    <button class="btn btn-default" type="button">留言</button>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">团队联系手册</div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">开发A：
                                                <span class="glyphicon glyphicon-phone"></span>123456
                                            </li>
                                            <li class="list-group-item">开发A：
                                                <span class="glyphicon glyphicon-phone"></span>123456
                                            </li>
                                            <li class="list-group-item">测试A：
                                                <span class="glyphicon glyphicon-phone"></span>123456
                                            </li>
                                            <li class="list-group-item">测试A：
                                                <span class="glyphicon glyphicon-phone"></span>123456
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title : {
                text: '用户访问来源',
                subtext: '',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
            },
            series : [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:335, name:'直接访问'},
                        {value:310, name:'邮件营销'},
                        {value:234, name:'联盟广告'},
                        {value:135, name:'视频广告'},
                        {value:1548, name:'搜索引擎'}
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        window.onresize = myChart.resize;  //要想自适应就加这一句，并且不要设置容器（#main）的宽度。
        myChart.setOption(option);

    </script>
{% endblock %}