{% extends 'xnhoutai/base.html' %}
{% load staticfiles %}

{% block head_extends %}
    <link rel="stylesheet" href="{% static 'xnhoutai/tags_manage.css' %}">
{% endblock %}
{% block tags_manage_active %}active{% endblock %}

{% block content %}
    <div class="container xxx">
        <div class="row">
            <div class="col-md-12">
                <h4>标签管理</h4>
                <hr>
                <form action="">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input class="form-control" type="text" id="title" placeholder="输入标签">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-default">添加</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="tags">
                    <div class="alert alert-info alert-dismissible pull-left" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>bootstrap</strong>
                    </div>
                    <div class="alert alert-info alert-dismissible pull-left" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>前端</strong>
                    </div>
                    <div class="alert alert-info alert-dismissible pull-left" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>后端</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}